version: "3.9"

services:
  generacion:
    build:
      context: .
      dockerfile: ./servicios/generacion/Dockerfile
    ports:
      - "8001:8001"
    networks:
      - microservicios

  transmision:
    build:
      context: .
      dockerfile: ./servicios/transmision/Dockerfile
    ports:
      - "8002:8002"
    networks:
      - microservicios

  distribucion:
    build:
      context: .
      dockerfile: ./servicios/distribucion/Dockerfile
    ports:
      - "8003:8003"
    networks:
      - microservicios

  perdidas_reconocidas:
    build:
      context: .
      dockerfile: ./servicios/perdidas_reconocidas/Dockerfile
    ports:
      - "8004:8004"
    networks:
      - microservicios

  restricciones:
    build:
      context: .
      dockerfile: ./servicios/restricciones/Dockerfile
    ports:
      - "8005:8005"
    networks:
      - microservicios

  comercializacion:
    build:
      context: .
      dockerfile: ./servicios/comercializacion/Dockerfile
    ports:
      - "8006:8006"
    networks:
      - microservicios

  tarifa_total:
    build:
      context: .
      dockerfile: ./servicios/tarifa_total/Dockerfile
    ports:
      - "8007:8007"
    depends_on:
      - generacion
      - transmision
      - distribucion
      - perdidas_reconocidas
      - restricciones
      - comercializacion
    networks:
      - microservicios

networks:
  microservicios:
    driver: bridge
